//.bg-dark{
//  background: rgba(255,255,255,0.6) !important;
//}
//.navbar-collapse .collapse .show {
//  background: red;
//  animation: background 0.3s;
//  color: #a8a8a8;
//  margin-bottom: 20px;
//  z-index: 1;
//}
html{
  seamless:seamless;

}
.firefly{
position: fixed;
  left: 50%;
  top: 50%;
  width: 0.4vw;
  height: 0.4vw;
  margin: -0.2vw 0 0 9.8vw;
  -webkit-animation: ease 200s alternate infinite;
  -webkit-animation-duration: 200s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation: ease 200s alternate infinite;
  pointer-events: none;
  &::before,
  &::after {
    content: '';

    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-transform-origin: -10vw;
    transform-origin: -10vw;
  }
  &::before{
    background:black;
    opacity:0.3;
    -webkit-animation: drift;
    -webkit-animation-timing-function: ease;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation: drift ease alternate infinite;
  }

  &::after {
    background: white;
    opacity: 0;
    box-shadow: 0 0 0vw 0vw yellow;
    -webkit-animation: drift ease alternate infinite, flash ease infinite;
    animation: drift ease alternate infinite, flash ease infinite;
  }
}


// Randomize Fireflies Motion
@for $i from 1 through 26 {

  $steps: random(12) + 16;
  $rotationSpeed: random(10) + 8s;

  .firefly:nth-child(#{$i}) {
    -webkit-animation:move#{$i};
    -webkit-animation-name: move#{$i} !important;
    animation-name: move#{$i};

    &::before {
      -webkit-animation-duration: #{$rotationSpeed};
      animation-duration: #{$rotationSpeed};
    }

    &::after {
      -moz-animation-duration: #{$rotationSpeed}, random(6000) + 5000ms;
      -moz-animation-delay: 0ms, random(8000) + 500ms;
      -webkit-animation-duration: #{$rotationSpeed}, random(6000) + 5000ms;
      -webkit-animation-delay: 0ms, random(8000) + 500ms;
      animation-duration: #{$rotationSpeed}, random(6000) + 5000ms;
      animation-delay: 0ms, random(8000) + 500ms;
    }


    @-webkit-keyframes move#{$i}{
      @for $step from 0 through $steps {
      #{$step * (100 / $steps)}% {
          -moz-transform: translateX(random(100) - 50 vw) translateY(random(100) - 50 vh) scale(random(75) / 100 + .25 );
          -ms-transform: translateX(random(100) - 50 vw) translateY(random(100) - 50 vh) scale(random(75) / 100 + .25 );
          -webkit-transform: translateX(random(100) - 50 vw) translateY(random(100) - 50 vh) scale(random(75) / 100 + .25 );
          transform: translateX(random(100) - 50 vw) translateY(random(100) - 50 vh) scale(random(75) / 100 + .25 );
        }
      }
    }
  }
}

@-webkit-keyframes drift {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes flash {

  0%, 30%, 100% {
    opacity: 0;
    box-shadow: 0 0 0vw 0vw hotpink;
  }
  5% {
    opacity: 1;
    box-shadow: 0 0 2vw 0.4vw hotpink;
  }
}
.ticketWidget{ width:80% !important;
  min-height:400px !important;
  border:1px solid rgba(255,255,255,0.5);
  @media (max-width: 500px) {
    width: 100vw !important;
    height:100vh !important;
  }
}
.com-cont{
  all:unset;
  display:flex;
  flex-wrap:wrap;
  align-items:center;
  margin:auto;
  padding:auto;
  justify-content:center;

  div{
    height: 120px !important;
    margin:10px !important;
    padding:10px;
    width:200px;
    align-items:center;
    display:flex;
    justify-content:center;
    border:1px solid rgba(255,255,255, 0.3);
    border-radius:5px;
    @media (max-width: 580px) {
      width:80%;
    }

  }
  div:hover{
      padding:12px;
      box-shadow: 0px -1px 12px rgba(255,255,255,0.5);
      text-shadow: 2px 1px 5px rgba(255,255,255,0.64);
      -webkit-transition: box-shadow .3s, width 0.3s, padding 0.3s;
      transition: box-shadow .3s, width 0.3s, padding 0.3s;
      cursor:pointer;
  }
  div:first-child{
    width:80%;
  }

}
.countdown{
  display:flex;
  justify-content:center;
  width:340px;
  align-items:center;
  div{
    height:75px;
    border-radius:10px;
    border:1px solid rgba(255,255,255,0.7) !important;
    font-size:2.5rem;
    color:rgba(255,255,255,0.7);
    flex:1;
    font-weight:bolder;
    text-align:center;
    font-family:'Pinyon Script', cursive;
    margin:0 5px;
    p{
      font-size:.7rem;
      font-weight:300;
      margin-top:-15px;
      font-family: Roboto, sans-serif;
    }
  }
}
::-webkit-scrollbar{
  display:none;
}
.bursary-ticket{
  background:rgba(45, 129, 145, 0.3);
  margin-bottom:150px;
}
.ticket-container{
  margin-top:50px;
  display:flex;
  flex-wrap:wrap;
  width:80%;
  justify-content:space-around;
  align-items:center;
  @media (max-width:700px){
    flex-direction:column;
    align-items:center;
  }
  margin-bottom:15px;
}
.apply-text{
  margin-top:50px;
  background:rgba(255, 255, 255, 0.3);
  border:solid 1px white;
  border-radius:10px;
  color:white;
  font-family: Helvetica, sans-serif;
  font-size:.8em;
  padding:30px;
  line-height: 2em;
}
#bur-quer{
  text-decoration: underline;
  background: rgba(105,235,206,0.5);

}
.ticket{
  display:flex;
  flex-direction:column;
  cursor: pointer;
  > h3, h4 {
    text-align:center;
    padding:20px 0;
  }
  width:27%;
  height:300px;

  @media (max-width:700px){
    width:90%;
    margin:20px 0;
    align-items:center;
    height:unset;
  }
  background:rgba(255, 255, 255, 0.3);
  border:solid 1px white;
  border-radius:10px;
  color:white;

  transition: 0.5s box-shadow;
  > ul {
    font-size:13px;
    list-style-type: none;

  }
  > ul > li {
    padding: 0 10px !important;
  }
  > h3 {
    font-size:40px;
    padding:15px 10px 0px 10px;
  }
  >hr{
    background:white;
  }
  > h4 {
    padding-bottom:13px;
  }
  > ul > li > svg{
    font-size:14px !important;
    margin-right:5px;
  }
  > ul > li > svg.ticket-adv {
    color:red;
    font-size:15px;
  }
  font-family: Helvetica, sans-serif;
}
div.vip {
  width:37%;
  height:350px !important;
  @media (max-width:700px){
    width:90%;
    margin:20px 0;
    align-items:center;
    height:unset;
  }
}
div.vip:hover {
  box-shadow: 0 5px 35px 0px pink;

}
.ticket:hover {
  box-shadow: 0 5px 35px 0px rgba(0,0,0,.7);

}
