.desktop-navbar > div > li > a {
}
.desktop-navbar > div > li:hover > a:after{
  content: '';
  background: #cccccc;
  border-radius: 50%;
  position: absolute;
  height: 5px;
  width: 5px;
  -webkit-animation: bubbles-rise 2s infinite !important;
  animation: bubbles-rise 2s infinite !important;
}

.desktop-navbar >div > li:hover > a:before{
  content: '';
  background: ghostwhite;
  border-radius: 50%;
  position: absolute;
  height: 3px;
  width: 3px;
  -webkit-animation: bubbles-rise 3s infinite !important;
  animation: bubbles-rise 3s infinite !important;
}

.desktop-navbar  >div > li:hover:after{
  content: '';
  background: papayawhip;
  border-radius: 50%;
  position: absolute;
  height: 4px;
  width: 4px;
  -webkit-animation: bubbles-rise 3s infinite !important;
  animation: bubbles-rise 3s infinite !important;
}

.desktop-navbar > div >li:hover:before{
  content: '';

  background: #dddddd;
  border-radius: 50%;
  position: absolute;
  height: 3px;
  width: 3px;
  -webkit-animation: bubbles-rise 4s infinite !important;
  animation: bubbles-rise 4s infinite !important;
}
@-webkit-keyframes bubbles-rise {
  100% {
    -webkit-transform: translateY(-100px) scale(0.5) !important;
    transform: translateY(-100px) scale(0.5);
    opacity: 0;
    -webkit-animation-timing-function: ease-in !important;
    animation-timing-function: ease-in;
  }
}

@keyframes bubbles-rise {
  100% {
    -webkit-transform: translateY(-100px) scale(0.5) !important;
    transform: translateY(-100px) scale(0.5);
    opacity: 0;
    -webkit-animation-timing-function: ease-in !important;
    animation-timing-function: ease-in;
  }
}
